name: Cyclic Imports
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  cyclic-import:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Set environment variable
        run: |
          echo $(poetry run poetry env info --path)/bin >> $GITHUB_PATH

      - name: Install packages
        run: |
          make install-all

      - name: Show installed packages
        run: |
          poetry show
          poetry show --tree

      - name: check batchtensor
        run: |
          python -c "import batchtensor"

      - name: check batchtensor.nested
        run: |
          python -c "from batchtensor import nested"

      - name: check batchtensor.recursive
        run: |
          python -c "from batchtensor import recursive"

      - name: check batchtensor.tensor
        run: |
          python -c "from batchtensor import tensor"

      - name: check batchtensor.utils
        run: |
          python -c "from batchtensor import utils"
