name: Nightly Package Tests
on:
  schedule:
    - cron: '0 12 * * *' # run at 12 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  cyclic-imports:
    uses: ./.github/workflows/cyclic-imports.yaml

  stable-all:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          ubuntu-24.04,
          ubuntu-22.04,
          ubuntu-24.04-arm,
          ubuntu-22.04-arm,
          macos-latest,
          macos-26,
          macos-15,
          macos-14,
        ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install "batchtensor[all]"

      - name: Run some checks
        run: |
          python tests/package_checks.py


  stable-min:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          ubuntu-24.04,
          ubuntu-22.04,
          ubuntu-24.04-arm,
          ubuntu-22.04-arm,
          macos-latest,
          macos-26,
          macos-15,
          macos-14,
        ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install batchtensor

      - name: Run some checks
        run: |
          python tests/package_checks.py


  latest-all:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          ubuntu-24.04,
          ubuntu-22.04,
          ubuntu-24.04-arm,
          ubuntu-22.04-arm,
          macos-latest,
          macos-26,
          macos-15,
          macos-14,
        ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install --pre "batchtensor[all]"

      - name: Run some checks
        run: |
          python tests/package_checks.py


  latest-min:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          ubuntu-24.04,
          ubuntu-22.04,
          ubuntu-24.04-arm,
          ubuntu-22.04-arm,
          macos-latest,
          macos-26,
          macos-15,
          macos-14,
        ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install --pre batchtensor

      - name: Run some checks
        run: |
          python tests/package_checks.py


  ########################
  #     Dependencies     #
  ########################


  coola:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]
        coola-version: [ 0.9.1 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install batchtensor

      - name: Install valid package version
        uses: durandtibo/pip-install-package-action@v0.4.1
        with:
          package-name: 'coola'
          package-version: ${{ matrix.coola-version }}
          python-version: ${{ matrix.python-version }}

      - name: Run some checks
        run: |
          python tests/package_checks.py


  torch:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]
        torch-version: [
          2.9.0,
          2.8.0,
          2.7.1,
          2.6.0,
          2.5.1,
          2.4.1,
          2.4.0,
        ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install batchtensor

      - name: Install valid package version
        uses: durandtibo/pip-install-package-action@v0.4.1
        with:
          package-name: 'torch'
          package-version: ${{ matrix.torch-version }}
          python-version: ${{ matrix.python-version }}

      - name: Run some checks
        run: |
          python tests/package_checks.py


  #################################
  #     Optional dependencies     #
  #################################


  numpy:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]
        numpy-version: [
          2.3.4,
          2.2.6,
          2.1.3,
          2.0.2,
          1.26.4,
          1.25.2,
          1.24.3,
        ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: |
          pip install batchtensor

      - name: Install valid package version
        uses: durandtibo/pip-install-package-action@v0.4.1
        with:
          package-name: 'numpy'
          package-version: ${{ matrix.numpy-version }}
          python-version: ${{ matrix.python-version }}

      - name: Run some checks
        run: |
          python tests/package_checks.py
