name: Nightly Package Tests
on:
  schedule:
    - cron: '0 12 * * *' # run at 12 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      package-name: 'pip install "batchtensor[all]"'

  stable-min:
    uses: ./.github/workflows/test-package.yaml
    with:
      package-name: 'pip install batchtensor'

  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      package-name: 'pip install --pre "batchtensor[all]"'

  latest-min:
    uses: ./.github/workflows/test-package.yaml
    with:
      package-name: 'pip install --pre batchtensor'


  ########################
  #     Dependencies     #
  ########################

  coola:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: coola
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).coola) }}

  torch:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: torch
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).torch) }}

  #################################
  #     Optional dependencies     #
  #################################

  numpy:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: numpy
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).numpy) }}
